* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #f9f4f4;
    font-family: 'Poppins', sans-serif;
    background-size: cover;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container h2 {
    font-size: 30px;
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

.input-box {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    gap: 15px;
    width: 100%;
    max-width: 400px;
}

.input-box label {
    color: #333;
    font-weight: 500;
    margin-bottom: 5px;
}

.input-box input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    width: 100%;
}
.input-box input:focus {
    border-color: #053d79;
    outline: none;
}
.input-box input::placeholder {
    color: #aaa;

}
.input-box .btn{
    border-radius: 30px;
    padding: 10px 20px;
    border: none;
    background-color: black;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
.error-message {
    color: red;
    background-color: #ffe0e0;
    padding: 10px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
}

.success-message {
    color: green;
    background-color: #e0ffe0;
    padding: 10px;
  
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
}
