*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f9f4f4;
}
.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-form .container{
    border: black solid ;
    border-radius: 20px;
    padding: 20px;
    height: 400px;
    width: 400px;
    background-color: #fff;
    text-align: center;
    overflow: hidden;
    position: relative;
    box-shadow: 0 8px 32px black;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.login-form .container .input-box{
    position: relative;
    padding: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.login-form .container .input-box input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 15px;
    border: 1px solid #ccc;
    outline: none;
}
.login-form .container .remember-forgot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}  
.login-form .container .btn{
    border-radius: 30px;
    padding: 10px 20px;
    border: none;
    background-color: black;
    color:white;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
} 